{% extends 'base.html'%}
{% load static %}
{% load discount_percent %}
{% block content %}
<br>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="flex-shrink-0 p-3 bg-secondary">
                    <form style="margin: auto;" method="get" action="/catalogue/parts">
                        <label for="select-form" class="fs-4 fw-bold text-white">Choose category:</label>
                        <select class="form-select form-select-lg mb-2" aria-label="Default select example"
                                name="field" id="select-form">
                            <option selected value="part_number">by part number</option>
                            <option value="machine_model">by model</option>
                            <option value="part_name">by part name</option>
                        </select>
                        <div class="mb-2">
                            <input type="search" class="form-control form-control-lg" name="search"
                                   placeholder="searching value">
                        </div>


                        <div class="d-flex justify-content-center mb-5">
                            <button type="submit" class="btn btn-warning fs-5 me-md-4 btn-lg">Search
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>

                    <span class="fs-4 fw-semibold text-white">
                        Filter by
                        <i class="fa-solid fa-filter"></i>
                    </span>
                    <form method="get">
                        <ul class="list-unstyled ps-0">
                            <li class="border-top my-3"></li>
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed fs-5 fw-bold text-white btn-sidebar"
                                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false"
                                        type='button'>
                                    Model
                                    <i class="fa-solid fa-tractor tractor-icon"></i>
                                </button>
                                <div class="collapse show" id="home-collapse" style="">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        {% for model in models%}
                                        <div class="form-check">
                                            {% if model.model in checked_models%}
                                            <input class="form-check-input" type="checkbox" value="{{model.model}}"
                                                   id="checkbox_model" name="machine_model" checked="True">
                                            <label class="form-check-label text-white fs-6 fw-bold"
                                                   for="checkbox_model" >
                                                {{model.model}}
                                            </label>
                                            {% else %}
                                            <input class="form-check-input" type="checkbox" value="{{model.model}}"
                                                   id="checkbox_model1" name="machine_model">
                                            <label class="form-check-label text-white fs-6 fw-bold"
                                                   for="checkbox_model1" >
                                                {{model.model}}
                                            </label>
                                            {% endif %}

                                        </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed fs-5 fw-bold text-white btn-sidebar"
                                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
                                        aria-expanded="false" type='button'>
                                    System
                                    <i class="fa-solid fa-gears gear-icon"></i>
                                </button>

                                <div class="collapse show" id="dashboard-collapse" style="">
                                    {% for system in machine_system%}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               value="{{system.machine_system}}" id="checkbox_system"
                                               name="machine_system">
                                        <label class="form-check-label text-white fs-6 fw-bold" for="checkbox_system">

                                            {{system.get_machine_system_display}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                            <li class="border-top my-3"></li>
                        </ul>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success " type="submit">
                                    Apply filter <i class="fa-solid fa-circle-check"></i>
                                </button>
                            </div>
                            <div class="col">
                                <a href="{% url 'parts_view' %}">
                                    <button class="btn btn-warning " type="button">
                                        Clear all filters <i class="fa-solid fa-arrows-rotate"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-9">
                <hr/>
                {% for part in parts %}
                <div class="row">

                    <div class="col-12 col-lg-4" id="part_pic_container">
                        <a href="{% url 'part_detail' part.part_number%}"
                           class="d-none d-lg-flex justify-content-center">
                            <img src="{{part.image.url}}" alt="part" width="200px" class="me-5">
                        </a>
                        {% if part.discount_price < 1%}
                        <span id="discount_tag"><i class="fa-solid fa-tags discount-tag"></i></span>
                        {% endif %}
                    </div>

                    <div class="col d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col">
                                <p>Part number:</p>
                                <p>Part name:</p>
                                <p>Price:</p>
                                {% if part.discount_price < 1%}
                                <p>Discount:</p>
                                {% endif %}
                            </div>
                            <div class="col">
                                <p class="fw-bolder">{{part.part_number}}</p>
                                <p class="fw-bolder">{{part.part_name}}</p>
                                <p class="fw-bolder">{{part.price}}</p>
                                {% if part.discount_price < 1%}
                                <p class="fw-bolder text-danger">{{part.discount_price| discount_percent}}%</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex flex-column justify-content-center">
                        <form method="get" action="{% url 'add_to_cart' part.part_number %}">
                            <div class="row">
                                <div class="col mb-3">
                                    {% if part.stock_quantity == 0 %}
                                    <button type="button" class="btn btn-secondary w-100">
                                        + Add to cart <i class="fa-solid fa-cart-plus cart-icon"></i>
                                    </button>
                                    {% else %}
                                    <a href="#">
                                        <button type="submit" class="btn btn-warning w-100">
                                            + Add to cart <i class="fa-solid fa-cart-plus cart-icon"></i>
                                        </button>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col">
                                    <button class="btn btn-secondary " type="button"
                                            onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>

                                <div class="col">
                                    <input id="form1" min="1" name="quantity" value="1" type="number"
                                           class="form-control form-control-xs"/>
                                </div>

                                <div class="col">
                                    <button class="btn btn-secondary" type="button"
                                            onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>

                            </div>
                        </form>
                        {% if part.stock_quantity == 0 %}
                        <div class="badge bg-secondary text-wrap mt-3" style="width: 6rem;">unavailable</div>
                        {% elif part.stock_quantity <= 5 %}
                        <div class="badge bg-warning text-wrap mt-3" style="width: 6rem;">low quantity</div>
                        {% else %}
                        <div class="badge bg-success text-wrap mt-3" style="width: 6rem;">available</div>
                        {% endif %}
                    </div>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
