.navbar {
    background-color: #F6F5D7;
    margin:0;
    padding: 0;
}

.wrapper-image::before {
  content: "";
  background-image: url("/static/core/index_background.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.content {
    position: relative;
}
.shop-locations {
    margin-top: 100px;
}
.cart-icon {
    font-size: 18px;
}

.add-to-cart {
    margin: 0 80px;
}

.nav-cart-icon {
    font-size: 30px;
    color: white;
    margin: 0 30px;
}

.tractor-icon {
    color: white;
    font-size: 25px;
}

.gear-icon {
    color: white;
    font-size: 25px;
}

.form-check-input:checked {
    background-color: orange;
    border-color: orange;
}

.btn-sidebar:hover {
    border-color: white;
}
