.navbar {
    background-color: #F6F5D7;
    margin:0;
    padding: 0;
}

.wrapper-image::before {
  content: "";
  background-image: url("index_background.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.content {
    position: relative;
}

.shop-locations {
    margin-top: 100px;
}

.cart-icon {
    font-size: 18px;
}

.add-to-cart {
    margin: 0 80px;
}

.nav-cart-icon {
    font-size: 30px;
    color: white;
    margin-top: 45px;
}

.tractor-icon {
    color: white;
    font-size: 25px;
}

.gear-icon {
    color: white;
    font-size: 25px;
}

.form-check-input:checked {
    background-color: orange;
    border-color: orange;
}

.btn-sidebar:hover {
    border-color: white;
}
.avatar {
    margin: 30px 0 30px 30px;
}

@media (max-width: 768px) {
.shop-locations {
    margin: 20px auto;
}
}

.img-card {
    float: left;
    width:  540px;
    height: 300px;
    object-fit: cover;
}

.buy-icon {
    font-size: 18px;
}

.confirm-icon {
    font-size: 150px;
}