{% extends 'base.html'%}
{% load static %}
{% block background %}
<div class="wrapper-image"></div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="content">
        <p class="text-center fs-3 fst-italic mt-5">We send confirmation letter to your email address: {{user.email}}</p>
        <p class="text-center fs-5 mt-5">In order to complete the registration process, check your inbox and click on the link in the email we have just sent you. If it is not there, please check your junk mail folder.</p>
    </div>
</div>
{% endblock %}