{% extends 'base.html'%}
{% load static %}
{% load amount_price %}
{% block content %}
<div class="container">
    </br>
    <div class="row">
        <div class="col">
            <form method="POST" style="margin: auto;" class="text-center" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="labels fs-4 mb-3">Order id</label>
                {{form.order_id}}
                <div class="row">
                    <div class="col">
                        <label class="labels fs-5 mt-3">Name</label>
                        {{form.contact_name}}
                        <label class="labels fs-5 mt-3">Surname</label>
                        {{form.contact_surname}}
                        <label class="labels fs-5 mt-3">Phone number</label>
                        {{form.phone_number}}
                    </div>
                    <div class="col">
                        <label class="labels fs-5 mt-3">Delivery service</label>
                        {{form.delivery_service}}
                        <label class="labels fs-5 mt-3">Payment type</label>
                        {{form.payment_type}}
                        <label class="labels fs-5 mt-3">City</label>
                        {{form.city}}
                    </div>
                </div>
                <input type="submit" value="Confirm order" class="btn btn-warning btn-lg mt-3">
            </form>
        </div>
        <div class="col">
            <p class="fs-4 text-center">Parts invoice</p>
            <table class="table">
                <thead class="table-secondary">
                <tr>
                    <th scope="col">Part number</th>
                    <th scope="col">Part name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                {%for part, value in cart_data.items%}
                <tr>
                    <th scope="row" class="align-middle">
                        {{part}}
                    </th>
                    <td class="align-middle">{{value.part_name}}</td>
                    <td class="align-middle">{{value.quantity}}</td>
                    <td class="align-middle">{{value.price}}</td>
                    <td class="align-middle">{{ value.quantity | multiply:value.price }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p class="text-end fs-4">Total: {{total_cart_cost}}</p>
        </div>
    </div>
</div>
{% endblock %}